body {
	font-family: irish-grover, sans-serif;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	background-color: #6F0101;
}

canvas {
	display: block;
	margin: 0 auto;
	border: 5px solid #360707;
}

.title {
	width: 800px;
	text-align: center;
	margin: 20px auto;
	font-size: 40px;
	color: #FFA500;
	text-shadow: black 2px 2px 2px, #360707 0 0 15px;
	font-weight: 500;
}